<app-header></app-header>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>All STUDENTS List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Class</th>
        <th>Section</th>
        <th>Phone</th>
        <th>Address</th>
        <th>FatherName</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let STUDENTS of allSTUDENTS">
        <td>{{STUDENTS.name}}</td>
        <td>{{STUDENTS.className}}</td>
        <td>{{STUDENTS.section}}</td>
        <td>{{STUDENTS.phone}}</td>
        <td>{{STUDENTS.address}}</td>
        <td>{{STUDENTS.fatherName}}</td>
       <td> <button class="btn btn-danger btn-xs" (click)="delteUser(STUDENTS.id)">
			<span class="glyphicon glyphicon-remove"></span> Delete</button></td>
          
      </tr>
      </tbody>
  </table>
</div>

</body>
</html>
