<app-header></app-header>
<br>
<br>
<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img height="200" height="200" src="data:image/jpeg;base64,{{image}}" >
                    <div class="mt-3">
                      <h4>{{STUDENTS.name}}</h4>
                      <p class="text-secondary mb-1">{{STUDENTS.section}}</p>
                      <p class="text-muted font-size-sm">{{STUDENTS.address}}</p>
                     </div>
                  </div>
                </div>
              </div>
              </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{STUDENTS.name}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Class</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{STUDENTS.className}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{STUDENTS.phone}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Section</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{STUDENTS.section}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">FatherName</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{STUDENTS.fatherName}}
                    </div>
                  </div>
                  <hr>
                  </div>
              </div>

              

            </div>
          </div>

        </div>
    </div>